.budget-page {
    background-image: url('../assets/budget.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  

  .me-auto{
    color: blue;
  }