.budget-page {
    background-image: url('../assets/budget.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  

  .me-auto{
    color: blue;
  }
  .header {
    color: brown;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 4px;
  }
  .budget{
    color: brown;
  }